
@media only screen and (max-width: 1000px){
	
		.header_bottom {
		background-color: #ffffff;
	}
				.header_bottom,
		nav.mobile_menu{
				background-color: #ffffff !important;
		}
		
	 		.subtitle{
			font-size: 12px;
		}
	 		
							
			.filter_outer.filter_portfolio{
			line-height: 2em;
		}
	}

@media only screen and (min-width: 600px) and (max-width: 768px){
			.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:25.2px;
		}
								
			.subtitle{
			font-size: 12px;
		}
	 }

@media only screen and (min-width: 480px) and (max-width: 768px){
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	}

@media only screen and (max-width: 600px){
			.title h1,
		.title h1.title_like_separator .vc_text_separator.full .separator_content{
			font-size:18px;
		}
										.title h1 span{
			padding: 0 5px;
		}
	
			.filter_outer.filter_portfolio{
			height:auto;
		}
	}

@media only screen and (max-width: 480px){

				.title h1,
			.title h1.title_like_separator .vc_text_separator.full .separator_content{
				font-size:14.4px;
			}
									
		section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	
	
	}